@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");

body {
  font-family: 'EXO', sans-serif;
  font-weight: 700;
  padding-top: 60px;
}

/* ----------------------------------------------------------------------- Color */
body {
  background: linear-gradient(180deg, #495057, #33383d);
  height: 100vh;
}

.home-page-title {
  color: #e98600;
}
form {
  color: #e98600;
}

.bg-body-tertiary {
  --bs-bg-opacity: 0;
  background-color: #495057 !important;
}

.social-links div a i:hover {
  background: #e84610;
}

.nav-link {
  color: #e98600;
  background-color: #495057;
  text-shadow: -1px 0 black, 0 1px #33383d, 1px 0 #33383d, 0 -1px #33383d;
}

.custom-toggler.navbar-toggler {
  border-color: #e98600;
}

button:focus:not(:focus-visible) {
  color: #e84610;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(233, 134, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler:focus {
  border-color: #e84610;
  outline: none;
}

.navbar-nav .nav-link.active {
  color: #e84610;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.nav-link:hover {
  color: #e84610;
}

.commission-title h3 {
  border-bottom: solid #33383d;
  padding-bottom: 5px;
}

.form-check-input:checked {
  background-color: #e84610;
  border-color: #e84610;
}

.text-shadow {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* ----------------------------------------------------------------------- Nav Bar */

.nav-align {
  justify-content: flex-end;
}

nav img {
  border-radius: 50%;
  border: solid #33383d;
}

.navbar-nav {
  --bs-nav-link-padding-y: 0;
  margin-top: 0;
  font-weight: 400;
}

.navbar {
  --bs-navbar-padding-y: 0;
  border: solid #33383d;

}

/* ----------------------------------------------------------------------- Landing Page */

#landing-img {
  background-color: #495057;
  background-image: url('../images/mobile-landing-page-xsm.webp');
  background-repeat: no-repeat;
  background-position: center center; /* horizontal vertical */
  background-size: cover; /* or contain, depending on your needs */
}

@media (orientation: landscape) {
#landing-img {
  background-image: url('../images/mobile-landing-page-lg.webp');
  background-repeat: no-repeat;
  background-position: top center; /* horizontal vertical */
  background-size: cover; /* or contain, depending on your needs */
}
}

.home-page-title {
  text-align: center;
}

.home-page-title h2 {
  padding-top: 5%;
  font-size: 30px;
  font-weight: 700;
}

.home-page-title h3 {
  max-width: 60%; 
  margin: auto;
}

@media (orientation: landscape) {
  .home-page-title h3 {
   display: none;
  }
  }

@media (orientation: landscape) {
  .home-page-title h2 {
    font-size: 50px;
  }
}

@media (orientation: landscape) and (max-height: 320px){
  .home-page-title h2 {
    font-size: 30px;
  }
}

#call-to-action {
  position: fixed;
  left: 0;
  bottom: 20%;
  width: 100%;

}

.btn-lg {
  --bs-btn-padding-y: 13px;
  margin: 0 5%;
  width: 39%;
  height: 60px;
  text-align: center;

}

.cta-button {
  background: linear-gradient(180deg, #e98600, #e84610);
  border-style: solid;
  border-color: #e84610;
}

.cta-button:hover {
  background: linear-gradient(180deg, #e84610, #e84610);

}

.btn-primary {
  --bs-btn-bg: #e98600;
  --bs-btn-border-color: #e98600;
  --bs-btn-hover-bg: #e84610;
  --bs-btn-hover-border-color: #e84610;
}

#hero source {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

.hero-image {
  width: 100%;
  position: fixed;
}

.commission-title {
  color: #e98600;
}


/* ----------------------------------------------------------------------- Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  text-align: center;
  background-color: #495057;
  border: solid #33383d;

}

footer-margin,
ul {
  margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
  #hidden-link {
    display: none;
  }
}

.list-inline-item {
  margin: 0;
  padding: 0;
}

/* ----------------------------------------------------------------------- Gallery */

.gallery-style {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#photo {
  clear: both;
  line-height: 0;
  column-count: 3;
  column-gap: 0px;
}

#photo img {
  width: 100%;
  border-style: solid;
  border-color: #495057;
}

#photo iframe {
  width: 100%;
}

@media screen and (max-width: 943px) {
  #photo {
    column-count: 2;
  }
}

@media screen and (max-width: 700px) {
  #photo {
    column-count: 1;
  }
}

/* ----------------------------------------------------------------------- Commission Page */

.commission-title {
  text-align: center;
  padding: 15px 0;
  height: 110px;


}

.name-and-email {
  max-width: 74%;
  margin: auto;
}

.level-selector {
  width: 33%;
  margin: auto;
}

.form-check {
  padding-left: 40%;
}


#emailaddress {
  margin: auto;
}

.reference-photo-margin {
  margin-left: 15%;
}

.input-margin {
  margin-left: 0;
}

#commission-form {
  width: 72%;
  margin: auto;
}

.reference-photo-input {
  width: 60%;
  font-size: 10px;
}

.form-floating>.form-control {
  padding: 1rem 0.75rem;
  height: 150px;
  margin: 15px 0;
}

.float-right {
  float: right;
  width: 75%;
}

#quote-button {
  float: right;
  margin-right: 14%;
}

.font-size {
  font-size: 10px;
  font-weight: 400;
}

.text-area-font {
  font-size: 15px;
}

.form-height{
  height: 525px;
}

/* ----------------------------------------------------------------------- Thankyou.html */
#back-to-gallery {
  width: 60%;
  margin: auto;
}

.btg-button {
  margin: 30% 30% 0 30%;
}

/* ----------------------------------------------------------------------- Social Links */
/* .social-links {} */

.list-inline-item:not(:last-child) {
  margin-right: 0;
}

.social-links div a i {
  width: 50px;
  height: 50px;
  padding: 12px 0;
  margin: 5px;
  border-radius: 50%;
  border: solid #33383d;
  font-size: 25px;
  text-align: center;
  color: #fafafa;
  background: linear-gradient(180deg, #e98600, #e84610);
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links div a i:hover {
  background: linear-gradient(180deg, #e84610, #e84610);
}

/* ----------------------------------------------------------------------- Text Transform */

.uppercase {
  text-transform: uppercase;
}

/* ----------------------------------------------------------------------- Gallery Modal */
.gallery-style {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: fixed;
  top: 75px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}