@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");

body {
  font-family: 'EXO' 200, sans-serif;
}

/* ----------------------------------------------------------------------- Color */
.bg-body-tertiary {
  --bs-bg-opacity: 0;
  background-color: #495057!important;
}
.social-links li a i:hover {
  background: #be6d00;
}

.nav-link {
  color: #e98600;
  background-color: #495057;
}

.nav-pills {
  --bs-nav-pills-link-active-bg: #e98600;
}

.nav {
  --bs-nav-link-hover-color: #be6d00;
}

.custom-toggler .nav {
  border-color: #e98600;
 
}
/* ----------------------------------------------------------------------- Nav Bar */

.nav-align{
  justify-content:flex-end;
}

nav img {
  border-radius: 50%;
}

.nav-pills .nav-link {
  border-radius: 0;
}

.navbar-nav .nav-link.active {
  color: #e84610;
}

.nav-link:hover {
  color: #e84610;
}

/* ----------------------------------------------------------------------- Hero Image */
 .hero-image {
  width: 100%;
 }


/* ----------------------------------------------------------------------- Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  text-align: center;
  background-color: #495057;
}

footer-margin, ul {
  margin-top: 1rem;
}

@media only screen and (max-width: 1026px) {
  #hidden-link {
      display: none;
  }
}
/* ----------------------------------------------------------------------- Social Links */
.social-links {
  
}

.social-links div a i {
  width: 49px;
  height: 49px;
  padding: 12px 0;
  margin: 5px;
  border-radius: 50%;
  font-size: 25px;
  text-align: center;
  color: #fafafa;
  background: #e98600;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links div a i:hover {
  background: #e84610;
}

/* ----------------------------------------------------------------------- Text Transform */

.uppercase {
  text-transform: uppercase;
}

